body {
  background-color: darkgreen;
  text-align: center;
}

input{
  background-color: white !important;
  border-radius: 5px;
}

.close {
  text-align: right;
}

.counter {
  display: inline;
}
.label {
  font-size: smaller;
}
.fa-arrow-up:hover {
  background-color: darkgreen;
  color: white;
}
